<section id="our" class="gradient py-5">
  <h2 class="display-2 text-center text-white quest pt-3 pb-5">
    Meet our Doctors
  </h2>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-md-4">
        <div
          class="item min-height bg-white position-relative text-center pt-5 pb-4 w-75 m-auto px-3 rounded-5"
        >
          <div class="img rounded-circle position-absolute w-50 bg-white">
            <img
              data-aos="fade-up"
              data-aos-anchor-placement="top-bottom"
              data-aos-duration="1000"
              src="./assets/images/drSamira.png"
              class="w-100 rounded-circle"
              alt="dr.Samira"
            />
          </div>

          <div
            data-aos="fade-up"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="1000"
            data-aos-delay="700"
            class="mt-4"
          >
            <h5 class="fw-bold mont pt-3">Dr. Samira Hadid, M.D.</h5>
            <h6 class="mb-3 quest">Gynecologist</h6>
            <p class="text-center small mont my-3">
              With over a decade of experience, Dr. Hadid is the resident expert
              on general gynecology and women's health.
            </p>
            <span class="pointer"
              ><i class="fa-solid fa-2x fa-plus main-color"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="item min-height bg-white position-relative text-center pt-5 pb-4 w-75 m-auto px-3 rounded-5"
        >
          <div class="img rounded-circle position-absolute w-50 bg-white">
            <img
              data-aos="fade-up"
              data-aos-anchor-placement="top-bottom"
              data-aos-duration="1000"
              src="./assets/images/drAryan.jpg"
              class="w-100 rounded-circle"
              alt="dr.Samira"
            />
          </div>
          <div
            data-aos="fade-up"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="1000"
            data-aos-delay="700"
            class="mt-4"
          >
            <h5 class="fw-bold mont pt-3">Dr. Aryan Patel, M.D.</h5>
            <h6 class="mb-3 quest">Gynecologist & Obstetrician</h6>
            <p class="text-center small mont my-3">
              As the senior doctor in East Forge, Dr. Patel specializes in
              gynecologic surgery and obstetric care.
            </p>
            <span class="pointer"
              ><i class="fa-solid fa-2x fa-plus main-color"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="item min-height bg-white position-relative text-center pt-5 pb-4 w-75 m-auto px-3 rounded-5"
        >
          <div class="img rounded-circle position-absolute w-50 bg-white">
            <img
              data-aos="fade-up"
              data-aos-anchor-placement="top-bottom"
              data-aos-duration="1000"
              src="./assets/images/lastDoctor.png"
              class="w-100 rounded-circle"
              alt="dr.Samira"
            />
          </div>
          <div
            data-aos="fade-up"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="1000"
            data-aos-delay="700"
            class="mt-4"
          >
            <h5 class="fw-bold mont pt-3">Dr. Yuqin Feng, M.D.</h5>
            <h6 class="mb-3 quest">Gynecologist & Obstetrician</h6>
            <p class="text-center small mont my-3">
              Dr. Feng has over 15 years of experience as a fertility expert and
              obstetrician.
            </p>
            <span class="special pointer"
              ><i class="fa-solid fa-2x fa-plus main-color"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
