<!-- section About -->
<section id="about" class="bg-white py-5 mt-5">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <img
            class="w-100"
            src="./assets/images/ab.png"
            alt="doctor-with-patient"
          />
        </div>
      </div>
      <div class="col-md-6 align-self-baseline">
        <h2
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="100"
          class="h1 d-inline-block pt-3 fw-bold w-75 cardo"
        >
          Making the world <br />
          A healthier,easier and happier place
        </h2>
        <p
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="400"
          class="volk d-inline-block fs-5 lh-base position-relative mt-5 ms-3"
        >
          We save time and effort for those who suspect that they have one of
          these chronic and serious diseases by entering the data of the
          analyzes he had done to examine them and ensure that he was infected
          with one of these diseases or not
        </p>
      </div>
    </div>
  </div>
</section>
