<footer class="gradient pb-1">
  <ul
    class="mx-auto text-white list-unstyled d-flex w-25 justify-content-evenly align-items-center pt-4"
  >
    <li class="d-flex justify-content-center align-items-center rounded-circle">
      <span class="d-block m-auto"
        ><i class="fa-brands fa-facebook-f"></i
      ></span>
    </li>
    <li class="d-flex justify-content-center align-items-center rounded-circle">
      <i class="fa-brands fa-twitter"></i>
    </li>
    <li class="d-flex justify-content-center align-items-center rounded-circle">
      <i class="fa-brands fa-instagram"></i>
    </li>
  </ul>
</footer>
