<section id="our-service" class="py-5">
  <div class="container">
    <h2 class="h1 cardo text-center py-5">OUR SERVICES</h2>
    <div class="row gy-4">
      <div class="col-md-4">
        <div
          data-aos="zoom-in-up"
          data-aos-duration="500"
          class="img-heart w-75 shadow rounded-5 m-auto d-flex flex-column align-items-center justify-content-end pb-5"
        >
          <h4 class="mont">HEART</h4>
          <span class="pointer" [routerLink]="['/heart']">
            <i class="fa-solid fa-2x fa-plus main-color"></i
          ></span>
        </div>
      </div>
      <div class="col-md-4">
        <div
          data-aos="zoom-in-up"
          data-aos-duration="500"
          data-aos-delay="500"
          class="img-malaria w-75 shadow rounded-5 m-auto d-flex flex-column align-items-center justify-content-end pb-5"
        >
          <h4 class="mont">MALARIA</h4>
          <span class="pointer" [routerLink]="['/Malaria']">
            <i class="fa-solid fa-2x fa-plus main-color"></i
          ></span>
        </div>
      </div>
      <div class="col-md-4">
        <div
          data-aos="zoom-in-up"
          data-aos-duration="500"
          data-aos-delay="1000"
          class="img-peneumonia w-75 shadow rounded-5 m-auto d-flex flex-column align-items-center justify-content-end pb-5"
        >
          <h4 class="mont">PNEUMONIA</h4>
          <span class="pointer" [routerLink]="['/Pneumonia']">
            <i class="fa-solid fa-2x fa-plus main-color"></i
          ></span>
        </div>
      </div>
    </div>
    <div class="row my-5 g-4">
      <div class="col-md-4">
        <div
          data-aos="zoom-in-up"
          data-aos-duration="500"
          data-aos-delay="500"
          class="img-diabetes w-75 shadow rounded-5 m-auto d-flex flex-column align-items-center justify-content-end pb-5"
        >
          <h4 class="mont">DIABETES</h4>
          <span class="pointer" [routerLink]="['/diabetes']">
            <i class="fa-solid fa-2x fa-plus main-color"></i
          ></span>
        </div>
      </div>
      <div class="col-md-4">
        <div
          data-aos="zoom-in-up"
          data-aos-duration="500"
          data-aos-delay="1000"
          class="img-kideny w-75 shadow rounded-5 m-auto d-flex flex-column align-items-center justify-content-end pb-5"
        >
          <h4 class="mont">KIDENY</h4>
          <span class="pointer" [routerLink]="['/kidney']">
            <i class="fa-solid fa-2x fa-plus main-color"></i
          ></span>
        </div>
      </div>
      <div class="col-md-4">
        <div
          data-aos="zoom-in-up"
          data-aos-duration="500"
          data-aos-delay="1500"
          class="img-liver w-75 shadow rounded-5 m-auto d-flex flex-column align-items-center justify-content-end pb-5"
        >
          <h4 class="mont">LIVER</h4>
          <span class="pointer" [routerLink]="['/liver']">
            <i class="fa-solid fa-2x fa-plus main-color"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</section>
