<section id="feedback" class="py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 mb-5">
        <h2 data-aos="fade-right" data-aos-duration="500" class="libre">
          Our Patients' Feedback
        </h2>
        <p
          data-aos="fade-right"
          data-aos-duration="500"
          data-aos-delay="100"
          class="muted ps-3 libre"
        >
          Why we remain the most reliable dental clinic
        </p>
      </div>
      <div class="col-md-4 mt-5">
        <div
          data-aos="fade-right"
          data-aos-duration="500"
          data-aos-delay="500"
          class="w-75 m-auto"
        >
          <p class="volk">
            Boost your product and service's credibility by adding testimonials
            from your clients. People love recommendations so feedback from
            others who've tried it is invaluable.
          </p>
          <h4 class="main-color libre">-Julian Tran</h4>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div
          data-aos="fade-right"
          data-aos-duration="500"
          data-aos-delay="1000"
          class="w-75 m-auto"
        >
          <p class="volk">
            Boost your product and service's credibility by adding testimonials
            from your clients. People love recommendations so feedback from
            others who've tried it is invaluable.
          </p>
          <h4 class="main-color libre">- Nikita Silva</h4>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div
          data-aos="fade-right"
          data-aos-duration="500"
          data-aos-delay="1500"
          class="w-75 m-auto"
        >
          <p class="volk">
            Boost your product and service's credibility by adding testimonials
            from your clients. People love recommendations so feedback from
            others who've tried it is invaluable.
          </p>
          <h4 class="main-color libre">- Tyler Rose</h4>
        </div>
      </div>
    </div>
  </div>
</section>
